---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Faqs from '../components/Faqs.astro';
import Pricing from '../components/Pricing.astro';
import Portfolio from '../components/Portfolio.astro';
import Numeros from '../components/Numeros.astro';







---

<Layout
  title="Byte Digital Studio | Websites"
  description="Desarrollo de páginas web profesionales y personalizadas para impulsar tu presencia en línea."
>

<main>
	<Hero />
	<Services/>
	<Numeros/>
	<Portfolio />
	<Pricing />
	<Faqs />
	
</main>
    
</Layout>




